/* font-family: 'Shadows Into Light', cursive;
font-family: 'Raleway', sans-serif; */
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgba(245, 176, 171, .4), rgba(245, 176, 171,.4)), url(../images/bg-pic.jpg);
}
#inputContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
    font-family: 'Raleway', sans-serif; 
}
.formSection {
    background-color: #c5b2a2;
    border-radius: 5px;
    padding: 0 25px 25px;
    margin: auto;
    max-width: 632px;
    -webkit-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.5);
}
.formSection h1 {
    padding: 10px 0;
    text-align: center;
    border-bottom: solid 5px #b7d3d2;
    margin-bottom: 20px;
    font-family: 'Shadows Into Light', cursive;
    color: #fff;
    font-size: 40px;
}
#inputContainer label {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
#inputContainer input {
    padding-left: 5px;
    width: 98%;
    border-radius: 5px;
    border: none;
    height: 35px;
    margin: 5px 0 15px;
    background-color: rgba(255,255,255,.4);
    color: #808080;
}
#inputContainer input:focus {
    outline: none;
}
#inputContainer button {
    width: 100%;
    background-color: #f4ada9;
    border: none;
    border-radius: 5px;
    height: 35px;
    color: #fff;
    font-size: 18px;
    margin: 5px 0 15px;
}
#inputContainer button:focus {
    outline: none;
}
#inputContainer button:hover {
    background-color: #f0958e;
    cursor: pointer;
}
#inputContainer .formButtons {
    color: #fff;
}
.errorMessage {
    display: block;
    padding-bottom: 3px;
}
.hasAccount {
    cursor: pointer;
}
@media only screen and (min-width: 690px){
    .formSection h1 {
        font-size: 50px;
    }
}
/* MAIN CONTENT */
/* NAV */
header {
    background-color: #f4ada9;
    height: 65px;
}
nav {
    padding-top: 65px;
    display: none;
}
nav ul {
    list-style-type: none;
    background-color: #f4ada9;
    padding: 5px;
}
nav ul li {
    padding: .5em;
    text-align: center;
}
nav ul li:first-of-type {
    border-top: solid 2px #fff;
    padding-top: 10px;
}
nav ul li a, nav ul li {
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.icon i {
    font-size: 50px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 5px;;
}
.logo p {
    position: absolute;
    top: 17px;
    left: 65px;
    color: #fff;
    font-size: 24px;
}
.logo i {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 50px;
    color: #fff;
}
#mainContainer {
    background-image: linear-gradient(rgba(245, 176, 171, .5), rgba(245, 176, 171,.5)), url(../images/bg-pic.jpg);
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
@media only screen and (min-width: 690px){
    .icon {
        display: none;
    }
    nav {
        display: block;
        padding-top: 0;
        padding-right: 20px;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
    }
    nav ul li:first-of-type {
        border-top: none;
        padding: .5em;
    }
    
    .logo p, .logo i {
        position: static;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
    }
    .logo p {
        padding-left: 10px;
    }
}